[Unit]
Description=X-Read App for BH-XProj
After=network.target
 
[Service]
Type=simple
ExecStart=/path/to/service/start.sh
ExecStop=/path/to/service/start.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target